* {
    margin: 0;
    padding: 0;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #AAAAAA;
  }

body {
    background-color: #141414;
  }

#title {
    background-color: #0A0A20;
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 
}
  
#debug {
    position:absolute;
    /*display: none;*/
}

#main {
    margin: auto;
    width: 700px;
    height: 100%;
    background-color: #2B303E;
    padding: 0;
  }

#right {
    font-size: 16px;
}

#left {
    float: left;
    font-size: 16px;
    width: 70%;
}

.stat {
    float: left;
    margin-left: 10px;
}

.label_stats {
    width: 100px;
    background-color: #1B202E;
    height: 18px;
    line-height: 18px;
}

.value {
    width: 100px;
    text-align: right;
    color: #CCCCCC;
}

.control {
    background-color: #1B202E;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
    float:left;
    text-align: center;
    vertical-align: middle;
}

.config_box, .rank_box {
    float: left;
    margin-left: 10px;
    padding-right: 10px;
}

.config_label {
    width: 100px;
    background-color: #1B202E;
    text-align: center;
    height: 18px;
    line-height: 18px;
}

.config_value {
    width: 100px;
    text-align: center;
    color: #CCCCCC;
}

.rank_label {
    width: 330px;
    background-color: #1B202E;
    text-align: center;
    height: 18px;
    line-height: 18px;
}

.rank_value {
    width: 330px;
    text-align: center;
    color: #CCCCCC;
}

.disabled {
    color: #444444 !important;
}

#best {
    margin-top: 60px;
    margin-left: 10px;
    clear: both;
}

.best_stat {
    width: 430px;
    clear: both;
    border-bottom: 1px solid #444444;
}

.best_label {
    float:left;
}

.best_value {
    text-align: right;
}