* {
    margin: 0;
    padding: 0;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #AAAAAA;
  }

body {
    background-color: #141414;
  }

#title {
    background-color: #0A0A20;
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 
}
  
#debug {
    position:absolute;
    /*display: none;*/
}

#main {
    margin: auto;
    width: 700px;
    height: 100%;
    background-color: #2B303E;
    padding: 0;
  }

#stats {
    font-size: 18px;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 10px 0;
}

#stats th {
    background-color: #1B202E;
    width: 100px;
}

#stats td {
    background-color: #2B303E;
    text-align: right;
    color: #CCCCCC;
    padding-top:2px;
}

#stats .speed, #speed_control_minus, #speed_control_plus {
    text-align: center;
}

#speed_control_minus, #speed_control_plus {
    width: 40px !important;
    color: white;
    cursor: pointer;
    user-select: none;
}

#stats .spacing {
    background-color: #2B303E;
}

.disabled {
    color: #444444 !important;
}